/* MyStyles.css
   Lecture 3 exercise */

ul li {
    list-style: none;
}

.Content {
    border-right: #6B6E3F solid 6px;
    width: 585px;
}

footer {
    background-color: #6B6E3F;
}

footer li {
    display: inline;
}