#upload-form, #photo-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#photo-list {
    list-style: none;
    overflow: hidden;
}

.photo-block {
    display: inline-block;
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 10%;
    margin-bottom: 10%;
}

.photo {
    width: 100%;
    height: auto;
}